// <Бэкдроп модального окна
.backdrop-modal {
    position: fixed;

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    padding: 94px 15px;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;

    overflow-y: scroll;

    transition: opacity var(--transition-duration) var(--transition-timing-function),
        visibility var(--transition-duration) var(--transition-timing-function);
    
    &--hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

// padding: 94px 15px;
// z-index: 4; - не добавлял