.mobile-menu {
    position: fixed;
    
    z-index: 9999;
    
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;

    background-color: var(--color-background-main);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    transform: translate(0%, 0%) scale(1);

    transition: transform var(--transition-duration) var(--transition-timing-function);

    &--hidden {
        transform: translate(100%, -100%) scale(0);
    }

    &__nav {
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        &--gap {
            margin-bottom: auto;
        }
    }

    &__link {
        display: block;

        text-decoration: none;

        color: var(--color-link);
    }

    &__item {
        &--positioning:not(:last-child) {
            margin-bottom: 32px;
        }

        &--current {
            color: var(--color-link-hover);
        }
    }

    &__contact-thumb {
        margin-bottom: 64px;
    }

    &__contact {
        &--positioning:not(:last-child) {
            margin-bottom: 32px;
        }

    }

    &__contact-tel {
        font-size: 32px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        color: var(--color-link-hover);

        @media screen and (min-width: 340px) {
            font-size: 34px;
        }
    }

    &__contact-mail {
        font-size: 24px;
        line-height: 1.18;
        letter-spacing: 0.02em;

        color: var(--color-text-main);
    }

    &__social {
        display: flex;
        flex-wrap: wrap;
    }

    &__social-item {
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: var(--color-link-hover);
        
        &--positioning:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__social-line {
        position: relative;
        
        &:not(:last-child)::after {
            content: '';
            
            position: absolute;
        
            top: 0;
            right: -10px;
        
            height: 22px;
            width: 0px;
            
            border: 1px solid rgba(33, 33, 33, 0.2);
        }
    }
}