// Карточка члена команды
.team-card {
    background-color: var(--color-background-main);
        
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    flex-basis: 100%;
    
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 90px) / 4);
    }

    &__img {
        max-width: 450px;
        height: auto;

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 374px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 260px;
        }
    }
    
    &__tablet {
        padding: 30px 0px;
    }
    
    &__name {
        font-weight: 500;
        font-size: 16px;
        color: var(--color-text-title);
    
        &--positioning {
            margin-bottom: 10px;
        }
    }
    
    &__profession {
        &--positioning {
            margin-bottom: 16px;
        }
    }
}