//Переменные
:root {
    --color-background-main: #ffffff;
    --color-background-secondary: #2f303a;
    --color-background-accent: #2196f3;
    --color-background-hero: #c4c4c4;
    --color-background-team: #f5f4fa;
    --color-background-button-hero: #2196f3;
    --color-background-button-hero-hover: #188ce8;
    --color-background-button-example: #f5f4fa;
    --color-background-button-example-hover: #2196f3;
    --color-text-main: #757575;
    --color-text-secondary: #ffffff;
    --color-text-button-hero: #ffffff;
    --color-text-button-example: #212121;
    --color-text-button-example-hover: #ffffff;
    --color-text-button-modal: #000000;
    --color-text-title: #212121;
    --color-text-address: #ffffff;
    --color-text-input: #000000;
    --color-logo-first: #2196f3;
    --color-logo-second-header: #000000;
    --color-logo-second-footer: #ffffff;
    --color-link: #212121;
    --color-link-hover: #2196f3;
    --color-link-contact-header: #757575;
    --color-link-contact-footer: rgba(255, 255, 255, 0.6);
    --color-icon-header: #757575;
    --color-icon-link: #afb1b8;
    --color-icon-link-hover: #ffffff;
    --color-icon-link-footer: #ffffff;
    --color-icon-link-hover: #ffffff;
    --color-border-header: #ececec;
    --color-border-example-title: #eeeeee;

    --font-family-main: "Roboto", sans-serif;
    --font-family-logo: "Raleway", sans-serif;

    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}